@media (prefers-reduced-motion: no-preference) {
  .profile-section {
    margin-bottom: 20px;
    padding: 10px;
  }
  .card-section {
    display: flex;
    flex-wrap: wrap;
  }

  .card-section .card {
    flex: 1 0 33.33%;
    margin: 10px;
  }

  .home-container {
    position: relative;
  }
  .background-image {
    background: linear-gradient(to right, #000, #120A56); /* Fondo con degradado */
  }
  
  
  
  .custom-card {
    background-color: #333;
    color: #fff;
    /* Agrega aquí los estilos adicionales que desees */
  }
  .img-fluid {
    margin-left: 0px;
    border-radius: 10px 0px 0px 10px;
  }
  .linkedin{
    padding: 2px;
  }
  
  
}
